.Number {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    border: 10px skyblue;
    border-radius: 30px;
    background-color: inherit;
    color: skyblue;
}

.NumberMax {
    color: red;
}

.WarningMessage{
    color: skyblue;
    font-size: 30px;
}